@import '~sass/variables';
@import '~sass/mixins';
.year {
  width: 300px;
}

.title {
  height: 57px;
  padding-top: 13px;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  div:first-child{
    @include set-font-and-color(1rem, 500, $title-color);
  }
}

.selected {
  background-color: $grey;
  padding-left: 9px;
}

.selectedYear {
  border: 1px solid $border-color;
  border-radius: 5px;
  background-color: $white;
  margin-left: -1px;
}

.not-selected {
  margin-top: 1px;
}

.credit {
  @include set-font-and-color(0.8rem, 200, $credit-text-color);
  line-height: 12px;
}

.submitBtn {
  height: 80px;
  margin-top: 20px;
  background-color: $blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid $blue;
  display:flex;
  justify-content: center;
  & > div {
    height: 44px;
    width: 164px;
    background-color: $blue;
    border: 1px solid $blue-dark;
    border-radius: 5px;
    justify-content: center;
  }
  & > div > div{
      width: 160px;
      height:40px;
      background-color: $blue-dark;
      border: 1px solid $blue-dark;
      border-radius: 5px;
      @include set-font-and-color(1rem, 200, $white);
      display:flex;
      justify-content: center;
    }
}
